
<div class="col-xs-8">
	<h2>会員詳細画面</h2>
	<%= form_for @customer, url:admins_customer_path(@customer.id) do |f| %>
		<table class="table table-hover table-borderless">
			<tr>
    		<th>会員ID</th><td><%= @customer.id %></td>
  		</tr>
			<tr>
    		<th>氏名</th><td><%= f.text_field :last_name %><%= f.text_field :first_name %></td>
  		</tr>
			<tr>
		    <th>フリガナ</th><td><%= f.text_field :last_name_kana %><%= f.text_field :first_name_kana %></td>
		  </tr>
			<tr>
		    <th>郵便番号</th><td><%= f.text_field :post_code %></td>
		  </tr>
			<tr>
		    <th>住所</th><td><%= f.text_field :address %></td>
		  </tr>
			<tr>
		    <th>電話番号</th><td><%= f.text_field :phone_number %></td>
		  </tr>
			<tr>
		    <th>メールアドレス</th><td><%= f.text_field :email %></td>
		  </tr>
		  <tr>
		    <th>会員ステータス</th><td><%= f.radio_button :is_member_status, "false" %>有効<%= f.radio_button :is_member_status, "ture" %>退会済み</td>
		  </tr>
		</table>
		<div class="actions row">
			<%= f.submit "変更を保存する",class: "btn btn-primary" %>
		</div>
	<% end %>
</div>



