
<div class="col-xs-12">
<h2>会員詳細画面</h2>
		<table class="table table-hover table-inverse">

			<div>顧客ID<%= @customer.id %>
				<%= @customer.is_member_status %>
				<%= @customer.is_member_status  == false ? "有効会員" : "退会済み"%> <!--三項演算子(条件演算子）を使ってif文を記述-->
			</div>
			<div>氏名<%= @customer.last_name %><%= @customer.first_name %></div>
			<div>フリガナ<%= @customer.last_name_kana %><%= @customer.first_name_kana %></div>
			<div>郵便番号<%= @customer.post_code %></div>
			<div>住所<%= @customer.address %></div>
			<div>電話番号<%= @customer.phone_number %></div>
			<div>メールアドレス<%= @customer.email %></div>

		</table>

	<%= link_to "編集する", edit_admins_customer_path ,class: "btn btn-primary"%>

	<%= link_to "注文一覧履歴を見る", admins_customers_path ,class: "btn btn-primary"%>
</div>