<body>
  <div class="container">
    <h2>登録内容の確認</h2>

    <table class="table table-hover">
    <thead>
        <tr>
            <th>商品名</th>
            <th>単価(税込)</th>
            <th>数量</th>
            <th>小計</th>
        </tr>
    </thead>
    <tbody>
        <% @sum = 0 %>
        <% @cart_items.each do |cart_item| %>
        <tr>
<<<<<<< HEAD
            <td><%= f.item.name %></td>
            <td><%= f.item.price %></td>
            <td><%= f.item_quantity %></td>

            <td><%= (f.item.price) * (f.item_quantity) %></td>
            <!-- 注文合計金額 -->
            <% @sum += (f.item.price) * (f.item_quantity) %>

=======
            <td><%= cart_item.item.name %></td>
            <td><%= cart_item.item.price %></td>
            <td><%= cart_item.item_quantity %></td>
            <td><%= (cart_item.item.price) * (cart_item.item_quantity) %></td>

            <!-- 注文合計金額 -->
<<<<<<< HEAD
            <% @sum += (cart_item.item.price) * (cart_item.item_quantity) %>
>>>>>>> 4ddcf4032848ef2c7e700007b9720666212ef990
=======
            <% @sum += (cart_item.item.price) * (cart_item.item_quantity).to_i %>
>>>>>>> 2e29a9deb2d8b36fb19b145665567d45beb2dd01
        </tr>
        <% end %>
    </tbody>
</table>

<table class="table table-hover">
        <tr>
            <th>送料</th>
            <td><%= @freight %>
            </td>
        </tr>
            <th>商品合計</th>
            <td><%= @sum %></td>
        <tr>
            <th>合計金額</th>
            <td><%= @sum + @freight %></td>
        </tr>
</table>
    <%= form_with model: @order_new, url:orders_path, method: :post, local: true do |f| %>

        <%= f.hidden_field :customer_id, value:current_customer.id %>
        <%= f.hidden_field :pay_method, value: @pay_method %>
        <%= f.hidden_field :status, value: '入金待ち' %>
        <%= f.hidden_field :freight, value: @freight %>
        <%= f.hidden_field :total, value: @sum + @freight %>
        <%= f.hidden_field :ship_name, value: @order_name  %>
        <%= f.hidden_field :ship_postcode, value: @order_postcode %>
        <%= f.hidden_field :ship_address, value: @order_address %>
        <%= f.submit "戻る",name: 'back',class:'btn btn-secondary mr-3'%>
        <%= f.submit "購入を確定する", class:'btn btn-primary'%>
    <% end %>
  </div>
<br><span>支払い方法</span><br/>
    <%= @pay_method %><br>

<br><span>お届け先</span><br/>
    <%= @order_postcode %><br>
    <%= @order_address %><br>
    <%= @order_name %><br>
</body>
</html>