<body>
  <div class="container">
    <h2>登録内容の確認</h2>
    <%= form_with model:[@cart_item,@order_new],url:book_post_comments_path(@book),local: true do |f| %>
    <table class="table table-hover">
      <tbody>
        <tr>
          <%= f.hidden_field :name %>
          <th><%= f.label :name %></th>
          <td><%= @cart_item.name %></td>
        </tr>
      </tbody>
    </table>
    <%= f.submit"戻る",name: 'back',class:'btn btn-secondary mr-3'%>
    <%= f.submit"登録",class:'btn btn-primary'%>
    <% end %>
  </div>
</body>
</html>