<h1>商品　編集画面</h1>
        <%= form_for @item,url:admins_item_path(@item.id) do |f| %>
          <label>
            <span class="btn btn-primary">画像を選択
              <input type="file" style="display:none">
            </span>
          </label>
            <% if@item.errors.any? %>
              <%= @item.errors.count %>件のerrorが発生しました
                <% @item.errors.full_messages.each do |message| %>
              <%= message %>
            <% end %>
           <% end %>
            <div class="container">
             <div class="row">
              <div class="col-lg-4">
                <p>商品名</p>
    	           <div class="field row">
    		          <%= f.text_field :name %>
    	           </div>
                 <p>商品説明</p>
              	　<div class="field row">
    	             	<%= f.text_area :description %>
              	　</div>
                	<p>ジャンル</p>
                   	<%= f.collection_select :genre_id, @genres, :id, :name %>
    	            <p>税抜き価格</p>
    	           	<div class="field row">
    	            	<%= f.text_area :price %>
    	            </div>
    	              <p>販売ステータス</p>
    	         		<div class="field row">
    	             	<%= f.select :is_sale_status,[['販売中',true],['売り切れ',false]],{},:class=> 'item_f.select' %> <!-- ここを変更 -->
                  </div>
                </div>
                  <div class="col-lg-8">
                   <div class="actions">
                     <button type="submit" class="btn btn-primary btn-lg">変更を保存</button>
                  </div>
               </div>
            </div>
        <% end %>





