<h1>商品新規登録画面</h1>
<%= form_for(@item,url:admins_items_path) do |f| %>
<% if @item.errors.any? %>
<h3>
    <%= @item.errors.count %>error occurrence</h3>
<!--エラーメッセ-->
<ul>
    <% @item.errors.full_messages.each do |message| %>
    <li>
        <%= message %>
    </li>
    <% end %>s
</ul>
<% end %>
<p>画像</p>
<div class="field">
    <%= f.label :image %>
    <%= f.attachment_field :image %>
</div>
<p>商品名</p>
<div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
</div>
<p>商品説明文</p>
<div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
    <p>ジャンル</p>
    <%= f.collection_select :genre_id, @genres, :id, :name %>
</div>
<p>税抜き価格</p>
<%= f.label :price %>
<%= f.number_field :price %>
<p>販売ステータス</p>
<%= f.select :is_sale_status,[['販売中',true],['売り切れ',false]],{include_blank: '--選択してください--'},:class=> 'item_f.select' %>
<div class="actions">
    <%= f.submit '新規登録' %>
</div>
<% end %>
=======
	<div class="container">
		<div class="row">
			<div class="col-lg-4">
				<%= form_for(@item,url:admins_items_path) do |f| %>
					<% if @item.errors.any? %>
				<h3><%= @item.errors.count %>error occurrence</h3><!--エラーメッセ-->
					<ul>
						<% @item.errors.full_messages.each do |message| %>
								<li><%= message %></li>
						<% end %>
					</ul>
				<% end %>
				<div class="field">
					<%= f.label :image, "画像をアップロード", class: "image_input_btn" %>
					<%= f.attachment_field :image, class: "image_form" %>
				</div>
          <label>
            <span class="btn btn-primary">画像選択
              <input type="file" style="display:none">
            </span>
          </label>
          <div class="field">
	<%= f.label :image %>
	<%= f.attachment_field :image %>
</div>
				<div class="col-lg-8"> 
			<p>商品名</p>
			<div class="field">
	
			<%= f.text_field :name %>
			</div>
			<p>商品説明文</p>
			<div class="field">
				<%= f.text_area :description %>
				<p>ジャンル</p>
					<%= f.collection_select :genre_id, @genres, :id, :name %>
			</div>
				<p>税抜き価格</p>
				<%= f.number_field :price %>
				<p>販売ステータス</p>
				<%= f.select :is_sale_status,[['販売中',true],['売り切れ',false]],{include_blank: '--選択してください--'},:class=> 'item_f.select' %>
				<div class="actions">
	 				<button type="submit" class="btn btn-primary btn-lg">新規登録</button>
					</div>
				<% end %>
			</div>
		</div>
	</div>
