<div class="container">
  <div class="row">
    <h3 class="col-xs-offset-2 col-xs-3">配送先編集</h3>
  </div>
  <%= form_for(@ship) do |f| %>

  <% if @ship.errors.any? %>
  <div id="error_explanation">
    <h4><%= @ship.errors.count %> error prohibited this obj from being saved:</h4>

    <ul>
      <% @ship.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="field row">
    <tr>
      <td><%= f.label :code, "郵便番号(ハイフンなし)", class: "col-xs-3" %></td>
      <td><p><%= f.text_field :code, class: "col-xs-3" %></p></td>
    </tr>
  </div>

  <div class="field row">
    <%= f.label :address, "住所", class: "col-xs-3" %>
    <p><%= f.text_field :address, class: "col-xs-7" %></p>
  </div>

  <div class="field row">
    <%= f.label :name, "宛先", class: "col-xs-3" %>
    <p><%= f.text_field :name, class: "col-xs-3" %></p>
  </div>

  <div class="action row">
    <%= f.submit '編集する', class: "col-xs-offset-8 col-xs-2 btn btn-primary" %>
  </div>

  <% end %>
</div>