<h2>ショッピングカート</h2>

<%= link_to "カートを空にする", cart_items_destroy_all_path,class:"btn btn-danger", method: :delete, data: {confirm: 'カートを空にしますか？'} %>

<table class="table table-hover">
    <thead>
        <tr>
            <th>商品名</th>
            <th>単価(税込)</th>
            <th>数量</th>
            <th>小計</th>
        </tr>
    </thead>
    <tbody>
        <% @sum = 0 %>
        <% @cart_items.each do |f| %>
        <tr>
            <td><%= f.item.name %></td>
            <td><%= f.item.price %></td>
              <td><%= form_with model: f, url:cart_item_path(f),local: true, method: :put do |s| %>
                <%= s.text_field :item_quantity, id:"quantity",placeholder: "個数表示" %>
                    <%= s.submit "変更" %>
              <% end %></td>
              <!-- 商品の小計 -->
            <td><%= (f.item.price) * (f.item_quantity).to_i %></td>
            <td><%= link_to "削除", cart_item_path(f),class:"btn btn-danger", method: :delete, data: {confirm: 'カートから削除しますか？'} %><td>
        </tr>
        <!-- カート内の合計金額 -->
        <% @sum += (f.item.price) * (f.item_quantity).to_i %>
        <% end %>
    <tbody>
</table>
    <span>合計金額</span>
    <span><%= @sum %></span>
    <p><%= link_to '情報入力に進む',new_order_path,class:"btn btn-info glyphicon glyphicon-share-alt" %></p>
    <%= link_to "買い物を続ける", items_path %>