<h1>Customers::Items#show</h1>
<p>Find me in app/views/customers/items/show.html.erb</p>

<%= form_with model:[@item,@new_order],url:customers_cart_items_path(@item),local: true do |f| %>

		<%= select_tag 'item_id,quantity', options_for_select({quantity: 1, quantity: 2, quantity: 3}, 1), include_blank: true %>
		<%= @item.name %>
		<%= @item.description %>
		<%= @item.price　* 1.1 %>(税込)

		<%= f.select :quantity, ['1', '2', '3'], {include_blank: '選択ボックス'},
class: 'sample' %>

<p><%= f.submit'カートに入れる',class:"btn btn-info glyphicon glyphicon-share-alt" %></p>