<h4>商品一覧</h4>
（全
<%=@items.count%>件）
<div class="flex_test-box">
    <% @items.each do |item| %>
    <div class="flex_test-item">
        <%= link_to item_path(item) do %>
        <div class="item_image">
            <%= attachment_image_tag item, :image, size: '200x200',format: "jpeg",fallback: "cake.png" %>
        </div>
        <% end %>
        <p>
          <%= item.name %>
        </p>
        <p>
          <%= item.price %>(税込)
        </p>
    </div>
    <% end %>
</div>
<%= paginate @items %>
