<div>
    <%= form_with method: :post, model:@new_order, url:cart_items_path,local: true do |f| %>
        <div>
            <%= attachment_image_tag @item, :image, :fill, 200, 400, format: 'jpeg', fallback: "cake.png", size:'250x200' %>
            <p><%= @item.name %></p>
            <p><%= @item.description %></p>
            <p><%= @tax_item.round %>(税込)</p>
            <p><%= f.select :quantity, ['1', '2', '3'], {include_blank: '個数選択'},class: 'sample' %></p>
        </div>
    <% end %>
</div>