<div>
    <%= form_with method: :post, model:@cart_item_new,local: true do |f| %>
        <div>
             <%= attachment_image_tag @item, :image, size: '200x200',format: "jpeg",fallback: "no_image.jpg" %>
            <p><%= @item.name %></p>
            <p><%= @item.description %></p>
            <p><%= @item.price %>(税込)</p>
            <p><%= f.select :item_quantity, ['1', '2', '3'], {include_blank: '個数選択'},class: 'sample' %></p>
            <!-- @item.idをitem_idとして送る -->
            <%= f.hidden_field :item_id, value:@item.id %>
            <p><%= f.submit"カートに入れる"%>
        </div>
    <% end %>
</div>

fallback: "cake.png"