<div class="container">
  <div class="row">
    <h1>注文詳細画面</h1>
    <h4>購入者<%= @order.ship_name %></h4>
    <h4>配送先<%= @order.ship_postcode %><%= @order.ship_address %></h4>
    <h4>支払い方法<%= @order.pay_method %></h4>
    <h4>注文ステータス<%= form_for @order, url:order_path(@order.id) do |f| %>
				<%= f.select :status, Order.statuses.keys, {}  %>
				<%= f.submit "更新",class: "btn btn-primary" %>
			<% end %>
    </h4>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-9">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>商品名</th>
            <th>単価（税込）</th>
            <th>数量</th>
            <th>小計</th>
            <th>製作ステータス</th>
          </tr>
        </thead>

        <tbody>
          <% @order_items.each do |order_item| %>
          <tr>
            <td><%= order_item.name %></td>
            <td><%= order_item.price*1.1 %></td>
            <td><%= order_item.quantity %></td>
            <td><%= order_item.price*order_item.quantity*1.1 %></td>
            <td>
  	          <%= form_for order_item, url:admins_order_item_path(order_item.id) do |f| %>
  						<%= f.select :product_status, OrderItem.product_statuses.keys, {}  %>
  						<%= f.submit "更新",class: "btn btn-primary" %>
  						<% end %>
  					</td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-xs-3">
      <div>商品合計</div>
      <div>送料</div>
      <div>請求金額合計</div>
    </div>
  </div>
</div>











